@import './element-variables.scss';
.el-dialog__wrapper .el-dialog__title, .el-drawer__wrapper #el-drawer__title {
  font-size: 18px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: bold;
  color: #262626;
  line-height: 24px;
  margin: 0;
  padding: 19px 18px 13px 24px;
}
.el-drawer__wrapper .el-drawer__body {
  position: relative;
  padding-bottom: 60px;
  .footer{
    height: 60px;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: table;
    text-align: right;
    padding: 4px 24px 16px;
  }
}

.el-image-viewer__btn.el-image-viewer__close {
  .el-icon-close {
    color: #fff;
    background: #606266;
    border-radius: 50%;
    font-size: 24px;
    padding: 8px;
  }
}

.el-table th {
  background: #F8F9FB;
}

// 定义显示几行
@for $i from 1 through 5 {
  .y-line-#{$i} {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-line-clamp: $i;
  }
}

// 定义内外边距
@for $i from 1 through 100 {
  // margin
  .y-margin-#{$i}, .u-m-#{$i} {
    margin: $i + px!important;
  }
  // padding
  .y-padding-#{$i}, .u-p-#{$i} {
    padding: $i + px!important;
  }

  // 缩写 left, top, right, bottom
  @each $short, $long in l left, t top, r right, b bottom {
    // 定义外边距
    .y-m-#{$short}-#{$i} {
      margin-#{$long}: $i + px!important;
    }
    // 定义内边距
    .y-p-#{$short}-#{$i} {
      padding-#{$long}: $i + px!important;
    }
    // 定义外边距，完整版
    .y-margin-#{$long}-#{$i} {
      margin-#{$long}: $i + px!important;
    }
    // 定义内边距，完整版
    .y-padding-#{$long}-#{$i} {
      padding-#{$long}: $i + px!important;
    }
  }
}

.y-flex {
  display: flex;
}

.fix-border-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}